<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Leaves</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h2>Leave Requests</h2>

    <table class="table table-bordered">

        <tr>
            <th>Employee ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Status</th>
        </tr>

		<tr th:each="l : ${leaves}">

		    <td th:text="${l.empId}"></td>
		    <td th:text="${l.date}"></td>
		    <td th:text="${l.type}"></td>
		    <td th:text="${l.status}"></td>

			<td>

			    <th:block th:if="${l.status == 'PENDING'}">

			        <a th:href="@{/admin/approve-leave/{id}(id=${l.id})}"
			           class="btn btn-success btn-sm">
			            Approve
			        </a>

			        <a th:href="@{/admin/reject-leave/{id}(id=${l.id})}"
			           class="btn btn-danger btn-sm">
			            Reject
			        </a>

			    </th:block>

			    <span th:if="${l.status == 'APPROVED'}"
			          class="badge bg-success">
			        Approved
			    </span>

			    <span th:if="${l.status == 'REJECTED'}"
			          class="badge bg-danger">
			        Rejected
			    </span>

			</td>

		</tr>

    </table>

</div>

</body>
</html>