<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
	
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

<!-- ================= NAVBAR ================= -->
<header class="navbar">
    <div class="logo">Renowion</div>

    <div class="right-nav">
        <a href="/logout" class="logout">Logout</a>
    </div>
</header>

<!-- ================= HERO ================= -->
<section class="hero">
    <div class="hero-content">
		<h1>PeopleFlow</h1>

		<p>
		Workforce Management.<br>
		Reimagined.
		</p>

		<div style="margin-top:20px;">

		    <img th:if="${employee.profilePhoto != null}"
		         th:src="@{'/uploads/profile/' + ${employee.profilePhoto}}"
		         style="
		         width:120px;
		         height:120px;
		         border-radius:50%;
		         object-fit:cover;
		         border:4px solid white;
		         margin-bottom:15px;">

		    <div class="welcome-user">
		        Welcome back,
		        <span th:text="${username}">SaiGurlinka</span> 👋
		    </div>

		</div>

        <div class="buttons">
			<div class="buttons">

			    <a th:href="@{/user/profile}" class="btn">
			        My Info
			    </a>

			    <a th:href="@{/user/timesheet}" class="btn">
			        Timesheet
			    </a>
				
				<a th:href="@{/user/holidays}" class="btn">
				    Holidays
				</a>

			    <a th:href="@{/user/attendance}" class="btn">
			        Attendance
			    </a>
				
				<a th:href="@{/user/my-tree}" class="btn">
					My Tree
                </a>

			    <a th:href="@{/travel/apply}" class="btn">
			        ✈️ Travel Request
			    </a>

			    <a th:href="@{/travel/my-requests}" class="btn">
			        📋 My Travel Requests
			    </a>
			<div th:if="${employee.role != null and employee.role.equals('MANAGER')}"
			style="display:inline;">
			    <a href="/admin/manager/leaves" class="btn">Approvals</a>
				
				<a href="/travel/manager" class="btn">
				    ✈️ Travel Approvals
				</a>
			
        </div>
		<a th:href="@{/user/documents}"
		   class="btn">
		    📄 My Documents
		</a>

		<a th:href="@{/user/notifications}"
		   class="btn">
		    🔔 Notifications
		    (<span th:text="${unreadCount}">0</span>)
		</a>
    </div>
</section>



<section class="company-updates">

	<section class="company-feed">

	
	<h2>📢 Company Feed</h2>

	<div th:each="u : ${updates}" class="feed-card">

	    <h3 th:text="${u.title}">
	        Update Title
	    </h3>

	    <div class="feed-date"
	         th:text="${#temporals.format(u.createdAt,'dd MMM yyyy')}">
	        30 May 2026
	    </div>

	    <p th:text="${u.description}">
	        Update Description
	    </p>

	</div>


	</section>


        </div>

    </div>

</section>

<!-- ================= WORKFLOW ================= -->
<section class="workflow fade">
    <div class="text">
        <h2>Smart Workflow</h2>
        <p>Improve productivity and manage tasks efficiently.</p>
    </div>

    <div class="image"></div>
</section>

<!-- ================= SECURE ACCESS ================= -->
<section class="secure fade">
    <div class="secure-content">
        
        <!-- GLOBAL TIME (CENTER TOP) -->
        <div class="secure-time" id="globalTime"></div>

        <h2>Secure Access</h2>
        <p>Access your data safely and securely.</p>
    </div>
</section>


<!-- ================= JS ================= -->
<script>
function updateTimes() {
    const now = new Date();

    function formatTime(zone) {
        return now.toLocaleTimeString("en-US", {
            timeZone: zone,
            hour: "2-digit",
            minute: "2-digit"
        });
    }

    document.getElementById("globalTime").innerText =
        "India: " + formatTime("Asia/Kolkata") +
        " | USA: " + formatTime("America/New_York") +
        " | UK: " + formatTime("Europe/London") +
        " | UAE: " + formatTime("Asia/Dubai");
}

setInterval(updateTimes, 1000);
updateTimes();
</script>

</body>
</html>